
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.jfm
*.dbmdl
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
[Ll]ogs
#Nuget packages folder
packages/
_Publish/
/.idea/.idea.KafkaTest/.idea/.gitignore
/.idea/.idea.KafkaTest/.idea/.idea.Study.iml
/.idea/.idea.KafkaTest/.idea/.name
/.idea/.idea.KafkaTest/.idea/contentModel.xml
/.idea/.idea.KafkaTest/.idea/indexLayout.xml
/.idea/.idea.KafkaTest/.idea/misc.xml
/.idea/.idea.KafkaTest/.idea/modules.xml
/.idea/.idea.KafkaTest/.idea/projectSettingsUpdater.xml
/.idea/.idea.KafkaTest/.idea/vcs.xml
/.idea/.idea.KafkaTest/riderModule.iml
/.idea/.idea.KafkaTest/.idea/encodings.xml
/.idea/config/applicationhost.config
/.idea/.idea.TradeScriptRunner/.idea/.gitignore
/.idea/.idea.TradeScriptRunner/.idea/encodings.xml
/.idea/.idea.TradeScriptRunner/.idea/indexLayout.xml
/.idea/.idea.TradeScriptRunner/.idea/vcs.xml
